$color-primary: #ff0000;
$color-secondary: rgb(255, 61, 61);
$color-bg-overlay: rgba(233, 103, 103, 0.6);
$font-main: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-alt: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;